.form-box input, textarea{
    width: 50vw;
    padding: 5px 15px;
    margin: 11px 0;
    font-family:var(--font1);
    font-size:20px;
    }
    .content-contact{
    margin-top:62px;
    position:relative;
    
    }
    .content-contact::after{
    content:"";
    background-image: url('/../static/blog/img/11.svg');
    position:absolute;
    top:0;
    width: 100%;
    height:inherit;
    z-index:-1;
    opacity: 0.15;
    }
    .center{
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
    }
    .footer{
        margin-top:100px;
    }
    
    @media screen and (max-width: 580px){
        .form-box input, textarea{
            width: 54vw;
            padding: 3px 3px;
            margin: 5px 0;
            font-family: var(--font2);
            font-size: 13px;
            }
    }