<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@500&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'blog/css/basic.css' %}">
{% block csslink %}{% endblock csslink %}
    {% block title %}
    {% endblock title %}

    <style>

    {% block css %}
    
    {% endblock css %}
    </style>
</head>
<body>

    <nav class="navigation max-width-1 m-auto">

    <div class="nav-left">
        <a href="/blog">
        <span> <img src="{% static 'blog/img/logo.png' %}" width="80px" alt=""> </span></a>
        <ul>
            <li><a href="/blog">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="/blog/contact">Contact</a></li>
        </ul>
    </div>
    <div class="nav-right">
        <form action="/search.html">
            <input class="form-input" type="text" name="query" placeholder="Article Search">
            <button class="nav-btn">Search</button>
        </form>
    </div>
</nav>
    {% block body %}


    {% endblock body %}
<footer class="footer">Copyright &copy iBlog.com
</footer>

    {% block js %}
    {% endblock js %}
</body>
</html>